/* quicksand-300 -  */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url('css/fonts/Quicksand-Light.ttf'); /* IE9 Compat Modes */
    src: local('Quicksand Light'), local('Quicksand-Light'),
    url('css/fonts/Quicksand-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* quicksand-500 -  */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('css/fonts/Quicksand-Medium.ttf'); /* IE9 Compat Modes */
    src: local('Quicksand Medium'), local('Quicksand-Medium'),
    url('css/fonts/Quicksand-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* quicksand-regular -  */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('css/fonts/Quicksand-Regular.ttf'); /* IE9 Compat Modes */
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('css/fonts/Quicksand-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* quicksand-700 -  */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('css/fonts/Quicksand-Bold.ttf'); /* IE9 Compat Modes */
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('css/fonts/Quicksand-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
html {
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: #111111;

    /*color: #FF0F66;*/
}
.color-pp {
    color: #FF0F66 !important;
}
ul {
    padding: 0;
    list-style: none;
}
.scrollme a {
    color: #FF0F66;
    text-decoration: none;
}
.scrollme {
    display: block;
    font-size: 30px;
    color: #FF0F66;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 30px;
    height: 35px;
    margin: auto;
    left: 0;
    right: 0;
}
.scrollme i {
    cursor: pointer;
    opacity: .7;
    padding: 1px 3px;
}

.scrollme i:hover {
    opacity: 1;
}
.scrollme i.animation {
    opacity: .7;
    position: absolute;
    bottom: 45px;
    font-size: 24px;
    animation: play 2s steps(10) infinite;
}
.scrollme:hover i.animation {
    opacity: 0;
    animation-delay: 45s;
}
@keyframes play {
    from { bottom: 40px; font-size: 24px;}
    to { bottom: 4px; font-size: 30px;}
}
/***********css Animation*********/
.header-section {
    height: 100vh;
    background-image: url("img/images2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /*filter: brightness(0.7);*/
}
.top-menu .navbar.navbar-default{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.51);
    margin: 0;
}
.top-menu .navbar .navbar-brand{
    font-size: 24px;
    color: #000;
    font-weight: 700;
    padding-top: 20px;
}
.top-menu .navbar ul.nav{}
.top-menu .navbar ul.nav li {}
.top-menu .navbar ul.nav li a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.15s ease-out;
}
.top-menu .navbar ul.nav li.social a {
    padding: 20px 5px 20px 10px;
}
.top-menu .navbar ul.nav li.social.start {
    padding-left: 30px;}
.top-menu .navbar ul.nav li a:hover{
    color: #FF0F66;
    border-color: #FF0F66;
    transition: all 0.65s ease-in;
}
.top-menu .navbar ul.nav li a.active {
    color: #FF0F66;
    /*border-color: #FF0F66;*/
    transition: all 0.65s ease-in;
}
.top-menu .navbar ul.nav li.social a:hover {

    border-bottom: 2px solid transparent;
}
.header-section {
    margin-top: -67px;
    padding-top: 67px;
}
.header-body {
    padding-top: calc(50vh - 200px);
    color: #fff;
}
.header-body h1{
    font-size: 60px;
    letter-spacing: 3px;

}
.header-body p{

    font-size: 16px;
    font-weight: 500;
}
.header-body span.contact-btn{
    display: block;
    border: 1px solid #FF0F66;
    width: 140px;
    margin: 30px auto;
    padding: 8px 0;
    font-size: 14px;
    transition: all 0.97s;
    cursor: pointer;
}
.header-body span.contact-btn:hover{
    background-color: #FF0F66;
}

/*********************************
***** ABOUT US SECTION START *****
*********************************/
.about_us {
    text-align: center;
    padding: 50px 0;
}
.about_us h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;}
.about_us ul.line{ list-style: none; margin: 0;padding: 0; }
.about_us ul.line li{
    border: 0.12em solid #FF0F66;
    margin: 0 5px;
    display: inline-block;
    min-width: 30px;
}
.about_us ul.line li:first-child, .about_us ul.line li:last-child { border-color: #111111;width: 50px}
.about_us p{padding: 26px 10%;  }
.about_details{  }
.about_details{ text-align: left;
}
.about_details {  }
.about_details h3{  }
.about_details p{
    padding: 0 0 10px 0;
    line-height: 24px;
    font-size: 14px;
}
.about_details ul.adress{
    padding: 0;
    list-style: none;

}
.about_details ul.adress li { padding: 5px 0; }
.about_details ul.adress li a { text-decoration: none; color: #111111 }
.about_details ul.adress li i{
    width: 36px;
    font-size: 24px;
    color: #FF0F66;
    vertical-align: middle;
}
.about_details ul.adress li.resume a {
    padding: 12px 60px;
    border: 1px solid #FF0F66;
    margin-top: 52px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.13em;
    font-size: 16px;
    transition: all 0.25s ease-out;
}

.about_details ul.adress li.resume a:hover {
    background-color: #FF0F66;
    color: #fff;
    transition: all 0.45s ease-in;
}
.about_details ul.skills li {
    position: relative;
    display: flex;
}
.about_details ul.skills li h4{
    font-size: 16px;
    margin: 0 0 33px 0;
    width: 100%;
}
.about_details ul.skills li h4 span{
    float: right;
    padding-right: 15px;
}

.about_details ul.skills li h4:before {
    content: "";
    width: 100%;
    border: 1px solid #FF0F66;
    position: absolute;
    bottom: 12px;
    height: 6px;
    display: block;
    border-radius: 50px
}
.about_details ul.skills li h4:after{
    content: "";
    width: 90%;
    border: 1px solid  #FF0F66;
    background-color: #FF0F66;
    position: absolute;
    bottom: 12px;
    height: 6px;
    display: block;
    border-radius: 50px 0 0 50px;
}

.about_details ul.skills li.web h4:after {  width: 90%;  }
.about_details ul.skills li.css h4:after {  width: 95%;  }
.about_details ul.skills li.html h4:after {  width: 95%;  }
.about_details ul.skills li.react h4:after {  width: 65%;  }
.about_details ul.skills li.wordpress h4:after {  width: 80%;  }
.about_details ul.skills li.php h4:after {  width: 70%;  }
.img_div {padding: 0 60px 0 35px;}
.about_pic {
    width: 100%;
    height: 100%;
}
/*******************************
***** FOOOTER SECTION START*****
 ****************************/
.footer_section {background-color: #ebebeb; padding: 15px 0; }
.footer_section p{
    padding: 3px 0 0 0;
    margin: 0;
    color: #353535;
    font-weight: 500;}
.footer_section p span{
    color: #777}
.footer_section ul.social{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}
.footer_section ul li{
    display: inline-block;
    padding: 0 10px;
}
.footer_section ul li a {
    color: rgba(0, 0, 0, 0.51);
    font-size: 18px;
}
.footer_section ul li a:hover{
    color: #FF0F66;
}
/**********************************
*** End Of footer
********************************** */
.another_section {background-color: #e7fff3
}
